{% extends "base.html" %}

{% load ra_templatetags %}

{% block title %}CBS: List{% endblock %}

{% block local_logo %}{% endblock %}

{% block app_name %}Cambridge Booking System{% endblock %}

{% block breadcrumbs %}
<li>/ <a href="{% url 'index' %}">Bookings</a></li>
<li>/ List</li>
{% endblock %}

{% block subject_title %}
List
{% endblock %}

{% block content %}
    <ul>
        {% for target in crate_list %}
            {% include "bookings/crate_tree.html" %}
        {% endfor %}
    </ul>
{% endblock %}